{% extends 'base.html' %}

{% block title %}
    Recently seen movies
{% endblock %}

{% block content  %}
    <div id="last_seen_movies">
        Last seen:
        <ul class="list-group">
        {% for line in movies %}
                <li class="list-group-item">{{ line.name }} - {{ line.year_of_production }} by {{ line.director }}</li>
        {% endfor %}
        </ul>
    </div>
    <form method="post">
        {% csrf_token %}
        <p>
            {{ form.as_p }}
        </p>
        <input type="submit" value="Add"/>
    </form>
    {% if movies|length >= 3 %}
        <div id="get_movie_suggestion">
            <h6><a href="/movies/suggest">Ok, show me something</a></h6>
        </div>
    {% endif %}
{% endblock %}